<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Sample Post:</strong>
  
  <% if @user.microposts.first %>
    <p>
      <strong>Content:</strong>
      <%= @user.microposts.first.content %><br>
      <strong>Created:</strong>
      <%= @user.microposts.first.created_at %><br>
      <strong>Last Modified:</strong>
      <%= @user.microposts.first.updated_at %>
    </p>
  <% else %>
    <p>
      No posts found!<br>
      <%= link_to 'Create your first post!', '../../microposts/new' %>
    </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
